.profile-cont {
    margin: 0 100px
}

.user-info-cont {
    position: absolute;
    width: 414px;
    height: 298.67px;
    left: 324px;
    top: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    /* Secondary/500 */
    background: var(--secondary500);
    border-radius: 36px;
}

.avatar {
    border-radius: 100%;
    margin-bottom: 24px;
}

.username {
    margin: 0
}

.email {
    margin: 3px 0 17px 0;
}

.user-data-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    width: 70%;
}

.user-data-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    height: 80%;
    border-right: 1px solid var(--black-color);
}

.user-data-col p {
    margin: 3px 0;
}